body {
margin-left: 200px;
padding: 15px;
background-color:#A64F1C;
}

h1 {
font-family: roboto-condensed,sans-serif;
font-weight: 700;
font-style: normal;
font-size: 60px;
color:#F2D49B;
}

p {
font-family: roboto,sans-serif;
font-weight: 300;
font-style: italic;
font-size: 18px;
color: #F2D49B;
}

canvas {
  display: block;
}
