body {
 margin-left: 150px;
  padding: 15;
background-color:#A64F1C;
}

h1 {
font-family: neue-haas-grotesk-display,sans-serif;
font-weight: 700;
font-style: italic;
font-size: 72px;
color:#F2D49B;
}
.canvas{
   margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}
p {
font-family: neue-haas-grotesk-display,sans-serif;
font-weight: 700;
font-style: italic;
font-size: 18px;
color: #F2D49B;
}

canvas {
  display: block;
}
